<div class="key-feature-grid-row min-h-[32px] flex">
  <div class="w-[10px] md:w-[45px]"></div>
  <div class="flex-1 key-feature-grid-body">
    <slot />
  </div>
  <div class="w-[10px] md:w-[45px]"></div>
</div>

<style>
  .key-feature-grid-row {
    border-bottom: 1px solid #f0f0f0;
  }
  .key-feature-grid-body {
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
  }
</style>
