---
import BaseHead from "../../components/BaseHead.astro";
import AllPosts from "../../components/blog/AllPosts.astro";
import FeaturedPosts from "../../components/blog/FeaturedPosts.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="container mx-auto px-4">
      <FeaturedPosts />
      <div class="mt-[74px]">
        <AllPosts />
      </div>
    </main>
    <Footer />
  </body>
</html>
