---
import { ClientRouter } from "astro:transitions";
import BaseHead from "../../components/BaseHead.astro";
import AllPosts from "../../components/blog/AllPosts.astro";
import BlogTabs from "../../components/blog/BlogTabs.astro";
import FeaturedPosts from "../../components/blog/FeaturedPosts.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import { Rss } from '@lucide/astro';

---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ClientRouter />
  </head>
  <body>
    <Header />
    <main class="container mx-auto">
      <div class="flex items-center justify-between py-[64px]">
        <div class="text-[40px] font-medium">ScopeDB Blog</div>
        <div class="flex items-center gap-[12px]">
          <span class="text-[14px] text-[var(--color-secondary)]">Subscribe via</span>
          <a 
            href="/rss.xml" 
            class="w-[36px] h-[36px] bg-[#fff] border text-[var(--color-secondary)] border-[#f1f1f1] rounded-full flex items-center justify-center hover:bg-[#f1f1f1] transition-colors"
            title="Subscribe to RSS feed"
          >
            <Rss width={16} height={16} />
          </a>
        </div>
      </div>
      <FeaturedPosts />
      <div class="mt-[74px]">
        <BlogTabs activeTab="all" />
        <AllPosts category="all" />
      </div>
    </main>
    <Footer />
  </body>
</html>
