---
export interface Props{
    title: string
}

const { title = 'title' } = Astro.props;
---

<button slot="tab"  class="inline-flex whitespace-nowrap border-b-[4px]   border-transparent py-[6px] px-[12px] text-14 font-normal text-[rgba(0,0,0,0.4)] transition-all duration-200 ease-in-out hover:border-b-[rgba(0,0,0,0.9)] hover:text-[rgba(0,0,0,0.9)] aria-selected:border-b-[rgba(0,0,0,0.90)] aria-selected:text-[rgba(0,0,0,0.9)]"> {title} </button>
<div slot="panel" class="border-t-1  border-[rgba(0,0,0,0.1)] pt-6 -mt-[2px]">
    <slot />
</div>
