/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import 'tailwindcss';

:root {
  --color-primary: hsla(0, 0%, 0%, 1);
  --color-secondary: hsla(0, 0%, 0%, 0.6);
  --color-tertiary: hsla(0, 0%, 0%, 0.3);

  --color-brand: hsla(209, 93%, 45%, 1);

  font-family: "Inter", sans-serif;
}

img {
  @apply select-none;
  pointer-events: none;
}
