---
import HeadMeta from "@/src/components/HeadMeta.astro";
import Header from "@/src/components/Header.astro";
---

<!doctype html>
<html lang="en">
<head>
    <title>Page Not Found</title>
    <HeadMeta title="Page Not Found" description="404"/>
</head>
<body>
<Header/>
<main class="overflow-x-hidden">
    <div class="text-center p-[40px]">
        <h1 class="text-4xl font-bold text-gray-900 mb-4">
            Page Not Found
        </h1>
        <p class="text-lg text-gray-600">
            We could not find what you were looking for.
        </p>
    </div>
</main>
</body>
</html>
