---
import HeadMeta from "../components/HeadMeta.astro";
import Header from "../components/Header.astro";
import ContactPage from "../components/contact/ContactPage.astro";
import { SideDesc, SiteName } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <title>{SiteName}</title>
    <HeadMeta title={SiteName} description={SideDesc} />
  </head>
  <body>
    <Header />
    <main class="overflow-x-hidden">
      <ContactPage />
    </main>
  </body>
</html>
