---
import ExploreMore from "@/src/components/ExploreMore.astro";
import CircleCheck from "./assets/circlecheck.png";
import { CalLink } from "@/src/consts";
import Footer from "@/src/components/Footer.astro";
import ContactForm from "./ContactForm";

import IconCalendarDays from "icons:astro/lucide/calendar-days";
import IconCheckCircle from "icons:astro/material-symbols/check-circle";
---

<div class="max-w-[1440px] mx-auto px-[12px] md:px-[24px] xl-[32px]">
  <h1
    class:list={[
      "text-[32px] md:text-[40px] font-medium text-[var(--text-primary)] text-center",
      "mx-auto",
      "mt-[60px]",
    ]}
  >
    Contact Us
  </h1>
  <p
    class:list={[
      "text-[16px] md:text-[20px] font-normal text-[var(--text-secondary)] text-center",
      "max-w-[1024px] mx-auto leading-tight",
      "mt-[24px]",
    ]}
  >
    Contact us for demos, onboarding guidance, or answers to product questions.
  </p>

  <div
    class:list={[
      "max-w-[1200px] mx-auto mt-[60px]",
      "flex bg-[rgba(0,0,0,0.01)] rounded-[12px] p-[24px] md:p-[64px]",
      "flex-col",
      "md:flex-row md:items-center md:justify-between",
    ]}
  >
    <div>
      <h2 class="text-[24px] font-semibold text-[var(--text-primary)]">
        Get In Touch
      </h2>
      <p
        class="mt-[20px] text-[16px] leading-tight text-[var(--text-secondary)] max-w-[420px]"
      >
        Speak to the founders about plans, pricing, enterprise contracts, or
        request a demo.
      </p>
      <ul
        class="mt-[32px] flex flex-col gap-[12px] text-[14px] text-[var(--text-secondary)]"
      >
        <li>
          <span class="flex items-center gap-[12px]">
            <IconCheckCircle width={20} height={20} />
            Request a demo
          </span>
        </li>
        <li>
          <span class="flex items-center gap-[12px]">
            <IconCheckCircle width={20} height={20} />
            Understand what problems ScopedDB can actually solve.
          </span>
        </li>
        <li>
          <span class="flex items-center gap-[12px]">
            <IconCheckCircle width={20} height={20} />
            Get onboarding help
          </span>
        </li>
      </ul>

      <button
        class="mt-[32px] bg-[var(--button-primary-bg)] border-[var(--button-primary-border)] hover:bg-[var(--button-primary-bg-hover)] text-[var(--button-primary-text)] px-[14px] py-[8px] rounded-[12px] border transition-colors duration-300 ease-in-out"
        data-cal-link={CalLink}
      >
        <span class="flex items-center gap-[10px] text-[14px] text-[white]">
          <IconCalendarDays width={16} height={16} />
          Book A Demo
        </span>
      </button>
    </div>
    <div class="md:w-[420px] md:mt-0 mt-[40px]">
      <ContactForm client:load />
    </div>
  </div>
  <div class="mt-[80px] mb-[160px] max-w-[1200px] mx-auto">
    <ExploreMore showBlog={false} />
  </div>
</div>
<Footer />
