---
import CalcomBookingButton from "./CalcomBookingButton.astro";
import HeaderLink from "./HeaderLink.astro";
import { CAL_COM_BOOKING_LINK } from "../consts";
---

<header>
  <nav class="md:container mx-auto px-2
	 flex justify-between items-center
	 py-5">
    <div>
      <a href="/">
        <img
          src="/scopedb-logo.png"
          alt="{SITE_TITLE}"
          width={120}
          height={35}
        />
      </a>
    </div>
    <div class="hidden md:flex gap-8 
	 text-[14px]">
      <!-- <HeaderLink href="/products">Products</HeaderLink> -->
      <HeaderLink href="https://docs.scopedb.io/"
        >Reference</HeaderLink
      >
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/contact">Contact</HeaderLink>
      <!-- <HeaderLink href="/changelog">Changelog</HeaderLink> -->
    </div>
    <div
      class="rounded-[10px]"
      style="border: 1px solid var(--color-button-secondary-border);"
    >
      <button class="text-[14px] font-medium px-[16px] py-[6px] cursor-pointer" data-cal-link={CAL_COM_BOOKING_LINK}>
        Book a demo
      </button>
    </div>
  </nav>
  <CalcomBookingButton />
</header>
<style></style>
