<div
  class="min-h-[293px]"
  style="background-color: hsla(0, 0%, 8%, 1); color: hsla(0, 0%, 100%, 0.6);"
>
  <div class="container mx-auto pt-[100px] pb-[160px]  ">
    <h2 class="text-white text-[32px] sm:text-[40px] font-medium pb-[8px]">
      Born for the cloud
    </h2>
    <p class="max-w-[500px] text-[16px] font-normal">
      ScopoDB is a cloud-native database engineered to handle semi-structured
      data like logs and web data, with the capability to manage diverse
      workloads under massive data volumes.
    </p>
    <a href="https://www.scopedb.io/contact/">
      <button
        class="mt-[32px] px-[22px] py-[8px] rounded-[10px] text-[14px] bg-white text-black"
      >
        Book a demo
      </button>
    </a>
  </div>

  <div class="container mx-auto flex flex-col md:flex-row">
    <div class="flex-1 pb-[40px] ">
      <div class="pb-[12px]">
        <a href="/">
          <img
            src="/scopedb-logo-light.png"
            alt="{SITE_TITLE}"
            width={120}
            height={35}
          />
        </a>
      </div>
      <div class="text-[14px]  font-light">© 2025 ScopeDB. All rights reserved.</div>
    </div>

    <div
      class="grid grid-cols-2 md:grid-cols-4 gap-[64px]
		pb-[90px]
		text-[14px] font-[400] leading-[14px]"
    >
      <div>
        <div class="text-[14px] font-[500] pb-[24px] text-white">
          Get Started
        </div>
        <div class="pb-[16px] font-light">
          <a href="https://www.scopedb.io/contact/">Book a demo</a>
        </div>
        <div class="pb-[16px] font-light">
          <a href="https://scopedb.io">Visit ScopeDB</a>
        </div>
      </div>
      <div>
        <div class="text-[14px] font-[500] pb-[24px] text-white">Product</div>
        <div class="pb-[16px] font-light">
          <a href="https://docs.scopedb.io">Documentation</a>
        </div>
        <div class="pb-[16px] font-light">
          <a href="https://scopedb.io/changelog">Changelog</a>
        </div>
        <div class="pb-[16px] font-light">
          <a href="https://scopedb.io/pricing">Pricing</a>
        </div>
      </div>
      <div>
        <div class="text-[14px] font-[500] pb-[24px] text-white">Company</div>
        <div class="pb-[16px]">
          <a href="https://www.scopedb.io">About</a>
        </div>
        <div class="pb-[16px] font-light">
          <a href="https://www.scopedb.io/blog">Blog</a>
        </div>
        <div class="pb-[16px] font-light">
          <a href="https://www.scopedb.io">Terms of Service</a>
        </div>
        <div class="pb-[16px] font-light">
          <a href="https://www.scopedb.io">Privacy Policy</a>
        </div>
      </div>
      <div>
        <div class="text-[14px] font-[500] pb-[24px] text-white">Connect</div>
        <div class="pb-[16px] font-light">
          <a href="https://www.scopedb.io/contact">Contact us</a>
        </div>
        <div class="pb-[16px] font-light">
          <a href="https://github.com/scopedb">GitHub</a>
        </div>
        <div class="pb-[16px] font-light">
          <a href="https://discord.gg/AynEZfqFvM">Discord</a>
        </div>
      </div>
    </div>
  </div>
</div>
